.unet-map-region-popup {
  color: #fff;
  .name {
    border-bottom: 1px solid #ffffff59;
    padding: 0 3px 5px 3px;
    text-transform: uppercase;
  }
  .table {
    margin-top: 3px;
    display: table;
    margin-bottom: 0;
    .table-row {
      display: table-row;
      .table-cell {
        display: table-cell;
        padding: 3px 0;
      }
    }
  }
}

.embed-responsive-500h {
  height: 500px;
}