
.billing-tbl{
  border: 1px solid rgba(0, 0, 0, 0.12);
  .panel-header{
    cursor: default;
  }
  .header-cell{
    border-bottom:none;
    padding:0;
  }
  .header-summary-tbl{
    margin-top:0;
    margin-bottom:0;
  }
  .panel-expanded{
    margin-top:0;
    margin-bottom:0;
  }
  .panel-expanded:before{
    opacity:1;
  }
  .panel-expanded:after, .summary-expanded:after{
      bottom: 0px;
      left: 0;
      right: 0;
      height: 1px;
      content: "";
      opacity: 1;
      position: absolute;
      transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      background-color: rgba(0, 0, 0, 0.12);
  }
  .summary-expanded{
    min-height: 48px;
  }
  .summary-root{
    padding-left: 55px;
  }

  .billing-panel {
    box-shadow:none;
    .expandIcon-left {
      top: 50%;
      left: 8px;
      position: absolute;
      transform: translateY(-50%) rotate(-90deg);
      transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }
    .expandIcon-expanded{
      transform: translateY(-50%) rotate(0deg);
    }

    .panel-details{
      background-color:#fafafa;
      padding: 20px 16px 0px 43px;
    }

    .content-expanded{
      margin-top: 12px;
      margin-bottom: 12px;
    }

  }
}







